{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

   <link rel="stylesheet" href="{% static 'main/css/contacts.css'%}">
    <title>Document</title>
<div class="container mt-5">
    <h1>Ми вам перезвонимо через 30 секунд</h1>
    <form action="https://formspree.io/f/xpzeljgr" method="POST">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationServer01">Ім'я</label>
                <input type="text" class="form-control" id="validationServer01" placeholder="Ім'я" name="Name" required>
            </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationServer05">Номер телефону</label>
                <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">+380</span>
        </div>
                <input type="tel" class="form-control" id="validationServer05" placeholder="Номер" name="Phone" width="" pattern="[0-9]{9}" required>

            </div>
        </div>
    <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" required >

                <label class="form-check-label" for="invalidCheck3">
                    Погоджуюсь на передачу данних
                </label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Прийняти</button>

    </form>
</div>
</head>
<body>
</body>
</html>